<h2 class="ui center aligned medium icon header">
  <i class="circular users icon icon-color"></i>
  Chat Colony
</h2>

<%= render "layouts/notifications" %>

<div class="ui two column grid center aligned">
  <div class="tweleve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content" id="content-overflow">
        <div class="ui feed" id="message-container">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <%= form_for(:message, html: {class: "ui reply form", role: "form"},url: root_path, method: :post, remote: true) do |form| %>
          <div class="ui fluid icon input">
            <%= form.text_field :body, placeholder: "Type your message", id: "input-message-field" %>
            
            <%= form.button nil, class: "send-button" do %>
              <i class="bordered inverted chevron circle right icon orange send-icon"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div> 
  </div> 
  <div class="three wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui fluid inverted vertical menu">
          <%= render @users %>
        </div>
      </div>
    </div>
  </div>
</div>

